ul li{
list-style-type: none;
cursor: pointer;
flex: 1 1 300px;
margin-left: 2%;
margin-right: 2%;
}
ul li:hover{
    text-decoration: underline;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 3%;
}
